# Dependencies
node_modules/
pnpm-lock.yaml
npm-lock.yaml
yarn.lock

# Production
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# Misc
.cache/
